
<div *ngIf="taxon">
<h4>{{taxon.nom_complet}}</h4>

<div class="alert alert-dark">
<form [formGroup]="nomVernForm" #f="ngForm">
    <label style="margin-right:80px;" class="col-form-label" for="commentaire_general">Commentaire global</label>
    <textarea
        class="form-control"
        id="commentaire_general"
        placeholder="Résumé général concernant le taxon"
        name="type"
        formControlName="commentaire_general"
        style="margin-right:5px;"
        rows="5"
    ></textarea>

    <label style="margin-right:80px;" class="col-form-label">Noms vernaculaires</label>
    <div formArrayName="nomVerns">
        <div
            class="rounded p-3 mb-2 card"
            *ngFor="let nomVern of nomVernForm.get('nomVerns')['controls']; let i=index"
        >
            <fieldset>
                <div [formGroupName]="i">
                  <div class="form">
                    <div class="form-group">
                      <label style="margin-right:80px;" class="col-form-label" for="nom_vernaculaire">Nom</label>
                      <input type="text"
                             class="form-control"
                             id="nom_vernaculaire"
                             placeholder="Nom occitan"
                             name="type"
                             formControlName="nom_vernaculaire"
                             style="margin-right:5px;"
                             required>
                      <label style="margin-right:80px;" class="col-form-label" for="commentaire_nom">Commentaire nom</label>
                      <textarea
                          class="form-control"
                          id="commentaire_nom"
                          placeholder="Commentaire"
                          name="type"
                          formControlName="commentaire_nom"
                          style="margin-right:5px;"
                          rows="2"
                      ></textarea>
                      <form-multiselect
                          [values]="nomenclatureService.nomenclaturesValues['FO_LOCALISATION']"
                          [parentFormControl]="nomVern.controls.localisations"
                          [keyLabel]="['label_default']"
                          keyValue="id_nomenclature"
                          fieldLabel="Localisations"
                          debounceTime="500"
                      ></form-multiselect>

                      <form-multiselect
                          [values]="nomenclatureService.nomenclaturesValues['FO_PARTIE_PLANTE']"
                          [parentFormControl]="nomVern.controls.parties_utilisees"
                          [keyLabel]="['label_default']"
                          keyValue="id_nomenclature"
                          fieldLabel="Parties utilisées"
                          debounceTime="500"
                      ></form-multiselect>

                      <form-multiselect
                          [values]="nomenclatureService.nomenclaturesValues['FO_USAGE']"
                          [parentFormControl]="nomVern.controls.usages"
                          [keyLabel]="['cd_nomenclature', 'label_default']"
                          keyValue="id_nomenclature"
                          fieldLabel="Usages"
                          debounceTime="500"
                      ></form-multiselect>

                      <label style="margin-right:80px;" class="col-form-label" for="commentaire_usage">Commentaire usage</label>
                      <textarea
                          class="form-control"
                          id="commentaire_usage"
                          placeholder="Commentaire usage"
                          name="type"
                          formControlName="commentaire_usage"
                          style="margin-right:5px;"
                          rows="3"
                      ></textarea>

                      <form-multiselect
                          [values]="floraOccitaniaService.sources"
                          [parentFormControl]="nomVern.controls.id_sources"
                          [keyLabel]="['id_source', 'citation']"
                          keyValue="id_source"
                          fieldLabel="Sources"
                          debounceTime="500"
                      ></form-multiselect>

                    </div>
                  </div>
                  <button style="margin-left:35px;" type="button" class="btn btn-danger"
                      (click)="deleteNomVern(i)"
                  > Supprimer </button>
                  <button style="margin-left:35px;" type="button" class="btn btn-warning"
                      (click)="duplicateNomVern(i)"
                  > Dupliquer </button>
                </div>
              </fieldset>
            </div>
          </div>
</form>

<button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-success btn-sm"
(click)="addNewNomVern()">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter nom vern
</button>

</div>
<button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm"
(click)="submit()">
    Enregister
</button>
</div>