export class AppSettings {
    public static API_ENDPOINT = 'http://127.0.0.1:1234/';
    public static TAXHUB_ENDPOINT = 'http://127.0.0.1:5000/api/';
    public static ID_LIST = 68;
    public static ID_APPLICATION = 53;
 }