<table class="table table-striped"  datatable *ngIf="taxonlist">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">cd_ref</th>
      <th scope="col">nom vern</th>
      <th scope="col">nom complet</th>
      <th scope="col">noms occitan</th>
      <th scope="col">nb noms occ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of taxonlist" >
      <th scope="row"><a href="detail/{{ t.id_nom }}"><span class="fa fa-info-circle"></span></a></th>
      <td>{{ t.cd_ref }}</td>
      <td>{{ t.nom_vern }}</td>
      <td>{{ t.nom_complet }}</td>
      <td>{{ t.agg_noms_occ }}</td>
      <td>{{ t.nb_nom_occ }}</td>
    </tr>
  </tbody>
</table>